<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"  text="Regresar"
        color="medium"
        mode="ios">
      </ion-back-button>
    </ion-buttons>

    <ion-chip slot="end" color="secondary">
      <ion-avatar >
        <img alt="Silhouette of a person's head" src="/assets/Hellen.jpeg" />
      </ion-avatar>
      <ion-label>Hellen  Cevallos  Tomalá </ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>

<!--   
    <ion-avatar slot="end">
      <img alt="Silhouette of a person's head" src="/assets/Hellen.jpeg" />
    </ion-avatar>                 -->
    <ion-title>Avatar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>  </p>
  <ion-avatar>
    
    <img alt="Silhouette of a person's head" src="assets/yo.jpg" />
  </ion-avatar>
</ion-content>

