<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"  text="Regresar"
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <p> </p>
  <ion-content class="ion-padding">

    <ion-button expand="block" color="success">Ver Detalle</ion-button>
    <ion-button expand="full" color= "success" >Llamar </ion-button>
    <ion-button color="success">Enviar</ion-button>
    <ion-button fill="clear" color="success" >Editar Contacto</ion-button>
    <ion-button fill="outline"color= "success">Eliminar contacto</ion-button>
    <ion-button fill="solid" color="danger">Bloquear</ion-button>
  
  </ion-content>
</ion-content>
